@import "reset";
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');

$font-family: 'Bruno Ace SC', cursive, sans-serif;

$black: #000;
$dark-gray: #15161D;
$gray: #D1D1D1;
$light-gray: #E3E3E3;
$white: #fff;
$primary: #00FFA3;

.black {
  color: $black;
}

.white {
  color: $white;
}

.light-gray {
  color: $light-gray;
}

.gray {
  color: $gray;
}

.dark-gray {
  color: $dark-gray;
}

.primary {
  color: $primary;
}

.bg-white {
  background-color: $white;
}

.h1 {
  font-size: 128px;
}

.h2 {
  font-size: 64px;
}

.h3 {
  font-size: 24px;
}

.h4 {
  font-size: 20px;
}

.h5 {
  font-size: 16px;
}

.ta-start {
  text-align: left;
}

.mb-16 {
  margin-bottom: 16px;
}

.mb-24 {
  margin-bottom: 24px;
}

.mb-32 {
  margin-bottom: 32px;
}

.mb-36 {
  margin-bottom: 36px;
}

.d-block {
  display: block;
}

.d-flex {
  display: flex;
  gap: 24px;
}

.btn {
  padding: 12px 24px;
  border-radius: 32px;
}

.btn-white {
  color: $black;
  background-color: $white;
}

.btn-black {
  color: $white;
  background-color: $black;
}

.btn-icon-black {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url(../images/arrow_outward.png) no-repeat;
  background-size: contain;
}

.btn-icon-white {
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  background: url(../images/arrow_outward-white.png) no-repeat;
  background-size: contain;
}

.container {
  max-width: 1296px;
  margin: 0 auto;
}

.w-50 {
  width: calc(50% - 12px);
}


*, 
*::before,
*::after {
  box-sizing: border-box; 
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

a {
  display: inline-block;
  text-decoration: none;
  color: $black;
  transition: all .3s ease-in-out;

  &:hover {
    opacity: .8;
  }
}

body {
  font-family: $font-family;
  line-height: 1.5;
  color: $white;
  background: $black;
  padding-top: 40px;
}

.navMenu  {
  justify-content: space-between;
}

.banner {
  padding-top: 72px;
  padding-bottom: 72px;
  align-items: center;

  &Copy {
    text-align: right;
  }
}

.intro {
  padding-top: 160px;
  padding-bottom: 160px;
  background: url(../images/background-img.png) no-repeat center center;
  background-size: cover;

  .deco {
    gap: 16px;

    &-1,
    &-2,
    &-3 {
      width: 32px;
      height: 98px;
      background: url(../images/sparkle-sm.png) no-repeat;
      background-size: contain;
    }
  }

  &Img-1,
  &Img-2 {
    width: 196px;
  }

  &Img-3 {
    width: 306px;
  }
}

.about {
  padding-top: 160px;
  padding-bottom: 160px;

  &Wrapper {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }

  &Title {
    width: 526px;
  }

  .cardWrapper {
    flex-wrap: wrap;
    justify-content: space-between;

    .card {
      padding: 16px;
      flex-direction: column;
      gap: 4px;
      border: 1px solid $light-gray;
      box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
    }
  }
}

.cta {
  padding-top: 96px;
  padding-bottom: 96px;
  background: linear-gradient(180deg, #050014 0%, rgba(1, 2, 30, 0.89) 100%);

  &Wrapper {
    align-items: center;
    gap: 0;

    h3 {
      margin-right: 16px;
    }
  }

  &Icon {
    width: 100px;
    height: 100px;
    background: url(../images/trending_flat_black_24dp\ 1.png) no-repeat;
    background-size: contain;
    margin-right: 113px;
  }

  .social {
    gap: 20px;

    &Item {
      width: 162px;
      height: 162px;
      border-radius: 40px;

      &:hover {
        box-shadow: 0px 0px 16px 3px rgba(144, 148, 255, 0.90), 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
      }
    }

    &Link-1 {
      width: 162px;
      height: 162px;
      border-radius: 40px;
      background: url(../images/discord.jpeg) no-repeat center;
      background-size: cover;
    }

    &Link-2 {
      width: 162px;
      height: 162px;
      border-radius: 40px;
      background: url(../images/instagram.jpeg) no-repeat center;
      background-size: cover;
    }

    &Link-3 {
      width: 162px;
      height: 162px;
      border-radius: 40px;
      background: url(../images/message.jpeg) no-repeat center;
      background-size: cover;
    }
  }
}

.project {
  padding-top: 160px;
  padding-bottom: 160px;

  h3 {
    padding-left: 550px;
  }

  &Content {
    margin-bottom: 28px;

    p {
      margin-bottom: 76px;
    }
  }

  .projectImg-1 {
    width: 416px;
    height: 530px;
  }

  .projectImg-2 {
    width: 196px;
    height: 196px;
  }

  .projectImg-3 {
    width: 306px;
    height: 306px;
  }

  .projectImg-4 {
    width: 526px;
    height: 306px;
  }
}

footer {
  padding-top: 40px;
  padding-bottom: 40px;
  text-align: center;
}

